<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<c:url value="/css/main.css" var="jstlCss" />
<link href="${jstlCss}" rel="stylesheet" />
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1256">
	<title>Ajouter Departement</title>
</head>

<body>
	<div th:replace="~{template2}"></div>

	<div class="container">
		<div class="card-body">
			<form action="saveDepartement" method="post">
				<div class="form-group">
					<label class="control-label">Nom departement :</label>
					<input type="text" name="nomDepartement" class="form-control" />
					<span th:errors= ${Departementss.nomDepartement} class="text-danger"> </span>
				</div>
				<div class="form-group">
					<label class="control-label">Nombre d employye :</label>
					<input type="text" name="nombreDepartement" class="form-control" />
					<span th:errors= ${Departementss.nombreDepartement} class="text-danger"> </span>

				</div>
				<div class="form-group">
					<label class="control-label">Date Affectation :</label>
					<input type="date" name="date" class="form-control" />
					<span th:errors= ${Departementss.dateAffectation} class="text-danger"> </span>
				</div>
				<div class="form-group">
				 		<label class="control-label">College</label>
				 		<select name="College" class="form-control" th:value="${Departementss.college.idcol}" th:if="${!#strings.isEmpty(Departementss.college)}">
				 			<option th:each="c:${colleges}" th:value="${c.idcol}" th:text="${c.nomcol}"
				 				th:selected="${c.idcol==Departementss.college.idcol}">
				 			</option>
				 		</select>
				 		<select name="College" class="form-control" th:if="${#strings.isEmpty(Departementss.college)}">
				 			<option th:each="c:${colleges}" th:value="${c.idcol}" th:text="${c.nomcol}">
				 			</option>
				 		</select>
				 	</div>

				<div>
					<button type="submit" href="listeDepartement.html" class="btn btn-primary">Ajouter</button>
				</div>

			</form>
		</div>
		<br />
		<br />
		<a href="ListeDepartement">Liste Departement</a>
	</div>
</body>

</html>